---
import { profile } from '@data/data';
---
<header class="flex flex-col justify-center gap-4 pt-10">
    <a href="/" title="Go back to homepage" class="">
        <img src={profile.image} class="w-32 rounded-full overflow-hidden object-containing-cover mx-auto " alt={profile.name} title={profile.name} />
        <h3 class="font-bold text-2xl text-center">
            {profile.username}
            <br />{profile.bio}
        </h3>
    </a>
    
</header>